
        /* CSS styles for your motivational post */
        body {
            background-color: black;
            color: white;
           
        }

        h1 {
            text-transform: uppercase; /* Uppercase text */
            font-size: 3rem;
        }

        .content-container {
            width: 50%;
            margin-left: 25%; /* Center align the content */
            text-align: center;
            font-family: 'Libre Baskerville', serif;
        }

        img {
            
            width: 100%;
            border: 5px solid white; /* 5px white border */
        }
  